/* CSS - Cascading Style Sheets*/
:root {
    --color-background: #F0F0F7; 
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
}

/* ==============================================INDEX VAGAS=========================================================  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100vh; /* height = altura */
}

body {
    background: var(--color-primary);
    display: grid;
    align-items: center;
    justify-content: center;
}

body,
input,
button{
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.9rem;
    color: var(--color-box-base);

    justify-content: center;
    align-items: center;
    display: grid;
}

input{
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--color-secondary);
}

th {
    font-weight: normal;
    text-align: left;
    text-shadow: 1px 1px 2px rgb(83, 81, 81)
}

th, td {
    padding: 0.1em 1em;
}

form {
    justify-content: center;
    color: var(-color-text-in-primary);
    text-shadow: 1px 1px 2px rgb(83, 81, 81)
}

.title-parking,
.title-vagas {
    justify-content: center;
    align-items: center;
    display: grid;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-weight: 500;
    font-size: 5rem;
    text-shadow: 1px 1px 2px rgb(19, 18, 18)
}

.btn-new-vaga, .btn-back {
    background-color: var(--color-secondary);
    color: var(--color-text-in-primary);

    border: none;
    font-weight: 500;
    font-family: Poppins;
    font-size: 2.2rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;
}

.btn-new-vaga:hover {
    box-shadow: #ffffff 0 0 0 3px, transparent 0 0 0 0;
}

.btn-back:hover {
    box-shadow: #ffffff 0 0 0 3px, transparent 0 0 0 0;
}

.table-parking {
    justify-content: center;
    align-items: center;
    display: flex-box;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%; /* todo 1rem vai ser relativo a 10px */
    }
}


/* =====================================================NEW VAGA========================================================= */
.btn-back{
    justify-content: center;
    align-items: center;
    display: inline-block;
}

/* ======================FIELDS================== */
.field-estacionamento, 
.field-disponibilidade, 
.field-preco{
    color: var(--color-text-in-primary);

    display: grid;
    justify-content: center;
    display: grid;
    align-items: center;
}

/* ======================LABELS================== */

.label-estacionamento,
.label-disponiblidade,
.label-preco{
    font-size: 3rem;
    /* margin-bottom: 2rem; */
    display: grid;
    justify-content: center;
    display: grid;
    align-items: center; 
    text-shadow: 1px 1px 2px rgb(83, 81, 81)
}

/* ===================TEXT FIELDS------------------- */
.text-field-estacionamento,
.check-box-disponiblidade,
.text-field-preco{
    margin: 2.0rem;
    justify-content: center;
    align-items: center;
    display: grid;
    border-radius: 15px;
    border-left:2px solid #d3cdd0
}

/* ==================INPUTS======================== */
input{
    border:none;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right: -2px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
}
  
input[type="button"]{ 
    background:rgba(197,62,126,.33) ! important;
    color:#fff;
    position:relative;
    left:9px;
    top:25px; 
    width:100px;
    cursor:pointer;

    align-items: center;
    justify-content: center;
    display: flexbox;
}


/*====================LOGIN========================== */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background: var(--color-primary-darker);
	border-radius:3px;
	padding:70px 100px;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color: var(--color-box-base);	
    pointer-event: none;
	transition: all 0.5s ease-in-out;
}

.input-container input{ 
  border:0;
  border-bottom: 3px solid rgb(255, 255, 255);  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}

.input-container input:focus{ 
 border:none;	
 outline:none;
 /* border-bottom:1px solid #e74c3c;	 */
}

.btn-login{
	color:#fff;
	/* background-color:#e74c3c; */
	outline: none;
    border: 0;
    color: var(--color-box-base);
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

/* .btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
} */

.title-login{
    margin-bottom: 3rem;
    margin-top: -4rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.check-box-login{
    width: 15px;
    height: 15px;
    margin-top: 22px;
}

.remember-me{
    margin-top: 5px;
}
