<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estacionamento.nome %>
</p>

<%= link_to 'Edit', edit_estacionamento_path(@estacionamento) %> |
<%= link_to 'Back', estacionamentos_path %>
